<h2  class="heading page__heading">Инцидент <span class="page__id">ID: {{currentIncident.id}}</span></h2>
<form action="" class="page__form">
  <label class="page__label label">Название инцидента:</label>
  <input class="page__input input" type="text" name="name" [value]="currentIncident.name">
  <label class="page__label label">Исполнитель:</label>
  <app-search-list class="page__input" (select)="onSelectAssignee($event)" [initialAssignee]="currentIncident.assignee" ></app-search-list>
  <label class="page__label label">Область:</label>
  <input class="page__input input" type="text" name="area" [value]="currentIncident.area">
  <label class="page__label label">Дата начала:</label>
  <input class="page__input input" type="date" name="duedate" [value]="setDate(currentIncident.startDate)">
  <label class="page__label label">Дата дедлайна:</label>
  <input class="page__input input" type="date" name="duedate" value="2021-03-18">
  <label class="page__label label">Статус:</label>
  <input class="page__input input" type="text" name="status" [value]="currentIncident.status">
  <button class="page__save btn">Сохранить изменения</button>
</form>
