* {
  box-sizing: border-box;
}
.select {
  width: 100%;
  position: relative;
}
.select__header {
  height: 100%;
  display: flex;
  border: 1px solid #c8c5d1;
  cursor: pointer;
  color: #333;
}
.select__current {
  font-size: 12px;
  padding: 10px 0px 10px 12px;
}
.select__icon {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 6px;
  width: 10px;
  margin: auto 15px auto auto;
  background-image: url('https://i.ibb.co/ZYLh29K/down.png');
  background-repeat: no-repeat;
  background-position: center;
}
.open .select__icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.select__body {
  z-index: 1;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #c8c5d1;
  border-top: none;
  background-color: white;
}
.select.open .select__body {
  display: block;
}
.select__item {
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
  padding: 8px;
  color: #333;
}
.select__item:hover {
  background-color: #E7E5EB;
}
.default.select {
  height: 37px;
}
.white.select {
  background-color: #fff;
}
.grey.select {
  background-color: #f7f7f7;
}
.large.select {
  height: 50px;
}
.large .select__current {
  font-size: 18px;
  padding-left: 15px;
}
@media (max-width: 580px) {
  .large.select {
    height: 40px;
  }
  .large .select__current {
    font-size: 12px;
  }
}
