<h2 class="heading">Список пользователей</h2>
<table class="table">
  <thead class="table__row-heading">
    <th class="table__heading">ID</th>
    <th class="table__heading">ФИО</th>
    <th class="table__heading">Логин</th>
    <th class="table__heading">Дата рождения</th>
    <th class="table__heading">Должность</th>
    <th class="table__heading">Действия</th>
  </thead>
  <tbody *ngIf="users$ | async as users">
    <tr class="table__row" *ngFor="let user of users">
      <td class="table__data">{{user.id}}</td>
      <td class="table__data">{{user.fullname.surname}} {{user.fullname.name}} {{user.fullname.lastname}}</td>
      <td class="table__data">{{user.login}}</td>
      <td class="table__data">{{user.dateOfBirth | date:"dd.MM.yyyy"}}</td>
      <td class="table__data">{{user.position}}</td>
      <td class="table__data">
        <button class="btn-change" (click)="openUser(('user/' + user.id))">
          <div class="btn-change__icon"></div>
          <span class="btn-change__span">Изменить</span>
        </button>
        <button class="btn-delete" (click)="deleteUser(user.id)">
          <div class="btn-delete__icon"></div>
          <span class="btn-delete__span">Удалить</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn" (click)="addUser()">Добавить пользователя</button>
<app-users-popup *ngIf='isOpenedPopup' (closeClicked)='closeUserPopup($event)'></app-users-popup>
