<div class="search-list__wrap" [ngClass]='[innerSize]'>
  <input type="text"
  class="search-list__search"
  id="search-input"
  [formControl]="searchControl"
  autocomplete="off">
  <div class="search-list__scroll" data-simplebar *ngIf="isActive">
    <ul class="search-list__list">
      <li class="search-list__item" *ngFor="let item of searchList">
        <button class="search-list__btn" (click)="selectAssignee($event, item)">
          {{item.name}}
        </button>
      </li>
    </ul>
  </div>
</div>
